.siwe-login-page {
  .d-header {
    background-color: var(--secondary);
    box-shadow: none;
    .wrap {
      width: auto;
    }
  }

  .discourse-root {
    min-height: 100dvh;
  }

  .main-outlet-wrapper {
    height: calc(100dvh - var(--header-offset));
  }

  .powered-by-discourse {
    display: none;
  }
}

.siwe-mount {
  background-color: var(--secondary);
  max-width: 24rem;
  margin-inline: auto;
  scrollbar-gutter: auto;
  min-height: calc(100dvh - 10rem);
  display: grid;
  align-items: center;
}
